/* ============== ALL STYLES* ============== */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* ============== VARIABLES* ============== */
:root {
  --firts-color: rgb(21, 77, 39);
  --second-color: rgb(209, 209, 209);
  --second-color-contrast: rgb(121, 121, 121);
  --transparent-color-contrast: rgba(83, 83, 83, 0.575);
}
/* ============== DECORATIVE* ============== */
.decorative {
  width: 40px;
  height: 4px;
  background-color: black;
  display: block;
  transition: linear 0.3s;
}
.decorative_2 {
  width: 4rem;
  height: 3px;
  background-color: black;
  display: block;
  margin-bottom: 2rem;
  
}
/* ============== NAVBAR * ============== */
.nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5%;
  z-index: 2000;
}
.logo {
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: var(--second-color);
  border: 2px solid var(--second-color-contrast);
  cursor: pointer;
  transition: linear 0.2s;
}
.logo:hover {
  box-shadow: 2px 2px var(--second-color-contrast);
}
.nav-link {
  list-style: none;
}
.nav-item {
  display: inline-block;
  font-weight: bold;
  margin: 0 0.3rem;
  cursor: pointer;
  padding: 0.2rem;
}
.nav-item:hover {
  color: var(--firts-color);
}
.nav-social_media > i {
  opacity: 0.7;
  cursor: pointer;
  transition: linear 0.1s;
  margin: 0 0.4rem;
}
.nav-social_media > i:hover {
  opacity: 1;
}
.nav-burger {
  display: none;
}
/* ============== BLOG* ============== */
.blog {
  width: 90vw;
  height: 33em;
  margin: 4.5rem auto 1rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  align-items: center;
  justify-content: center;
}
.portrail {
  width: 90%;
  height: 90%;
  object-fit: cover;
  align-self: flex-start;
}
.blog-quared {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25% 75%;
  gap: 1rem;
}
.blog-quared_item {
  grid-column: 1 / 3;
}
.blog-img_1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow: hidden;
}
.blog-img_1 > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.blog-img_1 > span {
  width: 100%;
  transition: linear 0.4s;
  opacity: 0;
  background-color: var(--transparent-color-contrast);
  display: block;
  padding: 2em 1em;
  color: #fff;
  cursor: pointer;
}
.blog-img_1:hover > span {
  opacity: 1;
  transform: translateY(-103%);
}

.blog-img_2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 100%;
  height: 50%;
  cursor: pointer;
  overflow: hidden;
}
.blog-img_2 > img {
  width: 100%;
  height: 100%;
}
.blog-img_2 > span {
  width: 100%;
  background-color: var(--transparent-color-contrast);
  display: block;
  padding: 2rem 1rem;
  color: #fff;
  transition: linear 0.4s;
  opacity: 0;
}
.blog-img_2 > img:hover + span {
  opacity: 1;
  transform: translateY(-103%);
}
/* ============== SUSCRIBE* ============== */
.suscribe {
  width: 90vw;
  height: 15em;
  margin: 2em auto;
  background-color: var(--firts-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.suscribe-title {
  font-size: 1.5rem;
  color: #fff;
}
.suscribe-form > input {
  padding: 1rem 0.5rem;
  border: 2px solid var(--second-color-contrast);
  display: inline-block;
}
.suscribe-form > button {
  height: 100%;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
}
/* ============== ABOUT* ============== */
.about {
  width: 90vw;
  margin: auto;
  display: grid;
  gap: 2rem;
}
.about-info {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.about-info_title {
  width: 35%;
}
.about-info_title > h2 {
  margin-bottom: 1rem;
}
.about-info_paragraph {
  width: 60%;
}
/* ============== PORTFOLIO* ============== */
.about-portfolio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.portfolio-img {
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.portfolio-img > img {
  width: 18rem;
  height: 18rem;
}
.portfolio-img_title {
  padding: 2rem;
  background-color: var(--second-color);
  transform: translateY(-30%);
  cursor: pointer;
}
.portfolio-img_title:hover > .decorative {
  transform: translate(25%);
}
/* ============== CONTACT* ============== */
.contact {
  width: 90vw;
  margin: auto;
  display: grid;
}
.contact-portrail {
  height: 90vh;
  width: 90%;
  margin: auto;
  object-fit: cover;
  margin-bottom: 3rem;
}
.contact-carrusel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.carrusel-item {
  width: 14rem;
  height: 14rem;
  margin: 1.5rem 0;
}
div.carrusel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--second-color);
}
hr {
  margin: 1.5rem 0;
}
/* ============== FOOTER* ============== */
footer {
  width: 90vw;
  margin: auto;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  /* ============== NAVBAR* ============== */
  .nav-link{
    position: absolute;
    width: 100vw;
    height: calc(100vh - 4rem);
    flex-direction: column;
    z-index: 1000;
    top: 4rem;
    left: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    transition: linear .5s;
  }
  .nav-link_active{
    transform: translateX(-100%);
  }
  .nav-burger{
    display: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
  }
  .nav-burger>i{
    cursor: pointer;
    font-size: 1rem;
  }
  .nav-burger>i:hover{
    color: var(--firts-color);
  }
  .fa-times, .fa-bars{
    position: absolute;
    display: none;
  }
  .btn-active{
    display: initial;
    position: initial;
  }
  /* ============== BLOG* ============== */
  .blog {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 60vh;
    row-gap: 3rem;
  }
  .portrail {
    width: 100%;
    height: 100%;
  }
  .blog-quared {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
  }
  .blog-quared_item {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .blog-img_1 {
    grid-column: 2/3;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
  }
  .blog-img_2 {
    grid-column: 1/2;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
  }
  /* ============== ABOUT* ============== */
  .about-info {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .about-info_title {
    width: 90%;
    margin-bottom: 2rem;
  }
  .about-info_paragraph {
    width: 90%;
  }
  /* ============== SUSCRIBE* ============== */
  .suscribe-form > input {
    padding: 0.5rem 0.25rem;
  }
  .suscribe-form > button {
    height: 100%;
    display: inline-block;
    padding: 0.5rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 420px) {
  /* ============== BLOG IMG* ============== */
  .blog-img_1 {
    grid-column: 2/3;
    grid-row: 2 / 3;
  }
  .blog-img_2 {
    grid-column: 1/2;
    grid-row: 2 / 3;
  }
}
